.footer{
    margin: 20px 0px;
    padding-top: 20px;
    border-top: 3px solid rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer__icon{
        color: rgba(255,0,0,0.8);
        font-size: 40px; 
    }
    .footer__text{
        color: rgba(255,0,0,0.8);
        font-weight: 800;
        text-transform: uppercase;
        display: block;
        padding-bottom: 10px;
    }
}