.header {
    background-color: $red;
    margin-bottom: 50px;
    .header__wrapper{ 
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        .header__column{
           padding: 5px 0px;
           form {
               display: flex;
               button {
                   background-color: #EA232C;
                   i {
                    font-size: 20px;
                   }
               }
           }
            i{
                color: white;
                font-size: 30px;
            }
            &:nth-child(2){
                width: 100%;
                justify-self: center;
            }
            &:last-child{
                justify-self: end;
            }
            ul{
                display: flex;
                color: white;
                font-weight: 600;
                text-transform: uppercase;
                li:not(:last-child){
                    margin-right: 15px;
                }
            }
            li a{
                display: flex;
                div{
                    &:first-child{
                        margin-right: 5px;
                    }
                }
            }

        }
    }
}