.video-detail__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .videoPlayer{ 
      width: 80%;
      video{ 
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(111, 111, 167, 0.5);
        border-radius: 5px;
        width: 100%;
        // min-width: 1000px;
        height: 100%;
        // max-width: 1000px;
      }
    }
    .video__info{
        width: 100%;
        max-width: 850px;
        margin-top: 25px;
    }
    button{
        width: 100px;
        margin-bottom: 25px;;
    }
    .video__author{
        a{
            color: #3498db;
        }
    }
    .video__title, 
    .video__views,
    .video__description{
        display: block;
        margin-bottom: 15px;
    }

    .video__title{
        font-size: 22px;
        font-weight: 300;
    }
    .video__views{
        font-size: 14px;
    }
    .video__description{
        font-size: 16px;
    }
    .video__comments {
        margin-top: 35px;
        text-align: left;
        width: 50%;
        .video__comment-number {
          font-size: 18px;
          display: block;
        }
        .user__comment{
          display: flex;
          margin-top: 25px;
          width: 100%;
          .u-avatar{
            width: 40px;
            height: 40px;
            margin-right: 25px;
          }
          .add__comment { 
            width: 100%;
            input {
              width: 100%;
              border-radius: 0px;
              border-bottom: 1px solid gray;
              background-color: #F5F5F5;
              font-weight: 400;
              &:focus{ 
                border-bottom: 2px solid black;
                font-weight: 600;
              }
            }
          }
        }
      
        h1 {
          color: rgba(255, 0, 0, 0.5);
          margin-top: 25px;
        }
      
      .video__comments-list {
          margin-top: 50px; 
          li {
            background-color: white;
            color: rgba(0,0,0,0.5);
            padding: 15px;
            border-radius: 5px;
            // border-bottom-left-radius: 0px;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            box-shadow: 1px 1px 1px rgb(190, 190, 190);
          }
        }
    }
    

  }